<button mat-button class="menu-button" [routerLink]="['']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-house"></mat-icon>
  <span>Home</span>
</button>
<button mat-button class="menu-button" [routerLink]="['/characters']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-people-group"></mat-icon>
  <span>Characters</span>
</button>
<button mat-button class="menu-button" [routerLink]="['/episodes']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-video"></mat-icon>
  <span>Episodes</span>
</button>
<button mat-button class="menu-button" [routerLink]="['/quotes']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-quote-left"></mat-icon>
  <span>Quotes</span>
</button>
<button mat-button class="menu-button" [routerLink]="['/deaths']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-skull"></mat-icon>
  <span>Deaths</span>
</button>

<mat-divider></mat-divider>

<div class="mt-2">
  <span>Games</span>
</div>
<button mat-button class="menu-button" [routerLink]="['/memory-game']">
  <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-gamepad"></mat-icon>
  <span>Memory Game</span>
</button>

<mat-divider></mat-divider>
<label for="checkbox" class="toggler mt-2 mb-2">
  <input type="checkbox" id="checkbox" (change)="onSliderThemeToggle($event)" [checked]="isDarkTheme">
  <span class="ball"></span>
  <i class="fa-regular fa-sun sun"></i>
  <i class="fa-regular fa-moon moon"></i>
</label>

<!-- <mat-divider></mat-divider> -->

<!-- <button mat-button class="menu-button">
  <mat-icon>help</mat-icon>
  <span>Help</span>
</button> -->
