.card-content {
  padding: 10px;
}

.card-content:hover {
	-webkit-box-shadow: 0px 13px 30px -15px #000000;
	box-shadow: 0px 13px 30px -15px #000000;
  cursor: pointer;
}

img {
  height: 400px;
  object-fit: cover;
  object-position: top;
}

