.card-content {
  padding: 16px;
}

img {
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.appearance {
  padding: 8px 5% 8px 5%;
  border-radius: 10px;
  border: 2px solid white;
}

.appearance-true {
  background-color: #20E256;
}

.appearance-false {
  background-color: gray;
}

.appearance-season {
  justify-content: space-between;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

ul {
  margin-top: 2px;
  margin-bottom: 0px;
}
