<mat-card class="content mat-elevation-z0">
  <mat-card-header>
    <mat-card-subtitle>{{character.nickname}}</mat-card-subtitle>
    <mat-card-title>{{character.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="character.img" [alt]="character.name">
  <mat-card-content>
    <div class="mb-1">
      <div class="me-1">Occupation:</div>
      <ul>
        <li *ngFor="let item of character.occupation">{{item}}</li>
      </ul>
    </div>
    <div class="flex mb-2">
      <div class="me-1">Birthday:</div>
      <div>{{character.birthday}}</div>
    </div>
    <div class="flex mb-2">
      <div class="me-1">Portrayed:</div>
      <div>{{character.portrayed}}</div>
    </div>
    <div class="flex mb-2">
      <div class="me-1">Status:</div>
      <div>{{character.status}}</div>
    </div>
    <div class="mb-1">Breaking Bad seasons appearance:</div>
    <table class="appearance-table mb-2">
      <tr>
        <td [ngClass]="verifyAppearance(character.appearance, 1) ? 'appearance-true' : 'appearance-false'" class="appearance">1</td>
        <td [ngClass]="verifyAppearance(character.appearance, 2) ? 'appearance-true' : 'appearance-false'" class="appearance">2</td>
        <td [ngClass]="verifyAppearance(character.appearance, 3) ? 'appearance-true' : 'appearance-false'" class="appearance">3</td>
        <td [ngClass]="verifyAppearance(character.appearance, 4) ? 'appearance-true' : 'appearance-false'" class="appearance">4</td>
        <td [ngClass]="verifyAppearance(character.appearance, 5) ? 'appearance-true' : 'appearance-false'" class="appearance">5</td>
      </tr>
    </table>
    <div *ngIf="character.better_call_saul_appearance.length">
      <div class="mb-1">Better Call Saul seasons appearance:</div>
      <table class="appearance-table mb-2">
        <tr>
          <td [ngClass]="verifyAppearance(character.better_call_saul_appearance, 1) ? 'appearance-true' : 'appearance-false'" class="appearance">1</td>
          <td [ngClass]="verifyAppearance(character.better_call_saul_appearance, 2) ? 'appearance-true' : 'appearance-false'" class="appearance">2</td>
          <td [ngClass]="verifyAppearance(character.better_call_saul_appearance, 3) ? 'appearance-true' : 'appearance-false'" class="appearance">3</td>
          <td [ngClass]="verifyAppearance(character.better_call_saul_appearance, 4) ? 'appearance-true' : 'appearance-false'" class="appearance">4</td>
          <td [ngClass]="verifyAppearance(character.better_call_saul_appearance, 5) ? 'appearance-true' : 'appearance-false'" class="appearance">5</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
