<app-section-title title="Breaking Bad"></app-section-title>
<div class="row">
  <div class="col-sm-12 col-xs-12 col-12 col-md-6 card">
    <mat-card>
      <mat-card-title>{{'HOME.SUMMARY_TITLE' | translate}}</mat-card-title>
      <mat-card-content>
        <p>{{'HOME.SUMMARY_CONTENT' | translate}}</p>
        <p>{{'HOME.SUMMARY_CONTENT_CREATOR' | translate}}: Vince Gilligan</p>
        <p>{{'HOME.SUMMARY_CONTENT_GENRES' | translate}}:</p>
        <ul>
          <li>Crime</li>
          <li>Drama</li>
          <li>Thriller</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-12 col-xs-12 col-12 col-md-6 card">
    <mat-card>
      <mat-card-title>{{'HOME.STORYLINE_TITLE' | translate}}</mat-card-title>
      <mat-card-content>
        <p>{{'HOME.STORYLINE_CONTENT' | translate}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 card">
    <mat-card>
      <mat-card-title>{{'HOME.DIDYOUKNOW_TITLE' | translate}}</mat-card-title>
      <mat-card-content>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_1' | translate}}</p>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_2' | translate}}</p>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_3' | translate}}</p>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_4' | translate}}</p>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_5' | translate}}</p>
        <p>{{'HOME.DIDYOUKNOW_CONTENT_6' | translate}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 card">
    <mat-card>
      <mat-card-title>{{'HOME.DETAILS_TITLE' | translate}}</mat-card-title>
      <mat-card-content>
        <p>{{'HOME.DETAILS_RELEASE' | translate}}</p>
        <p>{{'HOME.DETAILS_ORIGIN' | translate}}</p>
        <p>{{'HOME.DETAILS_OFFICIAL_SITES' | translate}}:</p>
        <ul>
          <li><a href="https://www.facebook.com/BreakingBad">{{'HOME.DETAILS_OFFICIAL_SITES_FACEBOOK' | translate}}</a></li>
          <li><a href="https://www.instagram.com/breakingbad/">{{'HOME.DETAILS_OFFICIAL_SITES_INSTAGRAM' | translate}}</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
