<app-section-title title="Breaking Bad"></app-section-title>
<div class="row">
  <div class="col-sm-12 col-xs-12 col-12 col-md-6 card">
    <mat-card>
      <mat-card-title>Summary</mat-card-title>
      <mat-card-content>
        <p>A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine in order to secure his family's future.</p>
        <p>Creator: Vince Gilligan</p>
        <p>Genres:</p>
        <ul>
          <li>Crime</li>
          <li>Drama</li>
          <li>Thriller</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-12 col-xs-12 col-12 col-md-6 card">
    <mat-card>
      <mat-card-title>Storyline</mat-card-title>
      <mat-card-content>
        <p>When chemistry teacher Walter White is diagnosed with Stage III cancer and given only two years to live, he decides he has nothing to lose. He lives with his teenage son, who has cerebral palsy, and his wife, in New Mexico. Determined to ensure that his family will have a secure future, Walt embarks on a career of drugs and crime. He proves to be remarkably proficient in this new world as he begins manufacturing and selling methamphetamine with one of his former students. The series tracks the impacts of a fatal diagnosis on a regular, hard working man, and explores how a fatal diagnosis affects his morality and transforms him into a major player of the drug trade.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 card">
    <mat-card>
      <mat-card-title>Did you know</mat-card-title>
      <mat-card-content>
        <p>Jesse Pinkman was originally slated to be written out by the 9th episode. During the hiatus caused by the writers' strike, creator Vince Gilligan, impressed by Aaron Paul's portrayal of Jesse, decided to reinstate the character.</p>
        <p>It was Vince Gilligan's decision to finish the show in season 5. He didn't want to make the mistake many successful shows make by running too long until the quality decreases.</p>
        <p>When characters on the show are smoking meth, they are actually smoking sugar or rock candy without inhaling. The candy meth is produced by The Candy Lady, a local business in Albuquerque.</p>
        <p>Walter was originally written to be 40 years old. AMC felt that 40 was too young for Walter to have a mid-life crisis and requested his age change to 50.</p>
        <p>Bryan Cranston has a Breaking Bad tattoo on his ring finger.</p>
        <p>In the beginning of each episode, the chemical formula C10H15N along with the number 149.24 and the word "Meth" can be seen just before the title Breaking Bad (2008) appears. C10H15N is the formula for methamphetamine, which has the molecular weight of 149.24.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 card">
    <mat-card>
      <mat-card-title>Details</mat-card-title>
      <mat-card-content>
        <p>Release date: January 20, 2008 (United States)</p>
        <p>Country of origin: United States</p>
        <p>Official sites:</p>
        <ul>
          <li><a href="https://www.facebook.com/BreakingBad">Official Facebook</a></li>
          <li><a href="https://www.instagram.com/breakingbad/">Official Instagram</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
