<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <img src="../../assets/images/breaking-bad-logo.svg" alt="Breaking Bad" class="logo">

  <mat-select [(value)]="selectedLang" (valueChange)="translateLanguageTo($event)">
    <mat-option *ngFor="let lang of langs" [value]="lang">{{lang | uppercase}}</mat-option>
  </mat-select>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8">
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
