mat-sidenav,
.content {
  margin: 16px;
  border-radius: 10px;
  padding: 15px;

}

mat-sidenav {
  width: 200px;
  border-right: none;
  text-align: center;
}

.content {
  height: calc(100vh - 127px);
  margin-left: 32px;
  overflow-y: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.logo {
  height: -webkit-fill-available;
  padding: 3px;
  margin-right: 10px;
}
