.difficulty-selector mat-button-toggle-group {
  font-size: 14px;
  height: 35px;
  align-items: center;
}

.difficulty-selector mat-button-toggle {
  min-width: 100px;
}

mat-toolbar {
  justify-content: space-between;
}

.life-counter {
  align-items: center;
  padding: 10px;
  width: 11rem;
}

.life {
  height: 2em;
}
