<mat-toolbar color="primary" class="mat-elevation-z8">
  <button *ngIf="!isPlaying && !isWinner" mat-raised-button color="accent" (click)="play()">Play</button>
  <button *ngIf="isPlaying && !isWinner" mat-raised-button color="accent" (click)="initializeGame()">Stop</button>
  <button *ngIf="isWinner" mat-raised-button color="accent" (click)="initializeGame()">Restart</button>

  <div *ngIf="!isSmallScreen">
    <div *ngIf="!isPlaying" class="difficulty-selector">
      <mat-button-toggle-group name="difficulty" [(value)]="charactersToGuess" (change)="onDifficultyChange($event.value)" aria-label="Select difficulty">
        <mat-button-toggle [value]="8">Easy</mat-button-toggle>
        <mat-button-toggle [value]="10">Medium</mat-button-toggle>
        <mat-button-toggle [value]="12">Hard</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="isPlaying" class="flex life-counter">
      <span>Lifes:</span>
      <img *ngFor="let item of counter()" src="../../assets/images/lab.svg" alt="Breaking Bad" class="life">
    </div>
  </div>
  <div *ngIf="isSmallScreen">
    <div *ngIf="!isPlaying" class="difficulty-selector">
      <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select [(value)]="charactersToGuess" (valueChange)="onDifficultyChange($event)">
          <mat-option [value]="8">Easy</mat-option>
          <mat-option [value]="10">Medium</mat-option>
          <mat-option [value]="12">Hard</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isPlaying" class="flex life-counter-small">
      <span>Lifes:</span>
      <img src="../../assets/images/lab.svg" alt="Breaking Bad" class="life">
      <span>x{{lifes}}</span>
    </div>
  </div>

  <div>
    <span class="me-1">Time:</span>
    <span>{{timeCounter}}</span>
  </div>
</mat-toolbar>


<div class="row me-0 ms-0">
  <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 p-0" *ngFor="let card of cardsPlaying">
    <app-guess-card [card]="card" [isPlaying]="isPlaying && canClickCards" (onCardClick)="onCardClick($event)"></app-guess-card>
  </div>
</div>
